{% extends 'base.html.twig' %}

{% block title %}Mission and Vision
{% endblock %}

{% block body %}

	<section class="bg-white dark:bg-gray-900">
		<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
			<div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
				<h2 class="mb-4 text-3xl md:text-5xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{"Mission et vision" | trans}}</h2>
				</p>
			</div>
			
<p class="mb-3 text-gray-900 text-lg dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">La SDR TPME touristiques Souss Massa vise à contribuer à la
			diversification de l’offre touristique dans la ville d’Agadir ainsi que dans
			l’ensemble des préfectures et des provinces de la région Souss Massa,
			notamment à travers l’appui à l’animation et à l’innovation. </p>
<p class="text-gray-900 text-lg  dark:text-gray-400">- Ainsi, elle participe à structurer les TPE-PME touristiques et met à leur
			disposition des instruments stratégiques et des politiques
			d’accompagnement ainsi qu’un appui à l’investissement.<br/>
			- De plus, la SDR accompagne les TPE dans leur transformation digitale
			et le développement de nouveaux marchés avec la mise en relation
			des acteurs et le référencement de leurs offres auprès des OTA
			internationales et locales B2B et B2C.</p>

			
			
		</div>
	</section>

{% endblock %}
