@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sohne';
    src: url('../../public/template/font/sdr.ttf') format('opentype'); /* Chemin vers le fichier de police woff */
    font-weight: 200; /* Poids plus léger pour une police fine */
    font-style: normal; 
    
    
}


body {
    font-family: 'Sohne', sans-serif;
    /* font-size: 1.115rem; 
    line-height: 1.75rem;  */
}
