{# <section class="text-gray-600 body-font">
	<div class="container">

		<div class="flex flex-wrap w-full  sm:mb-2 -mx-2">
        {% for item in listing.Listingamnities %}
			<div class="p-2 w-1/2 md:w-1/3 w-full">
				<div class="bg-gray-100 rounded flex p-4 h-full items-center">
					<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-600 w-6 h-6 flex-shrink-0 mr-4" viewbox="0 0 24 24">
						<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
						<path d="M22 4L12 14.01l-3-3"></path>
					</svg>
					<span class="title-font font-medium">{{ item.amnities.nom  }}</span>
				</div>
			</div>
				{% endfor %}
		</div>
	</div>
</section> #}

{% if listing.pension != null %}
				<div class="mb-4 w-full">
					<div class="bg-gray-100 rounded flex p-4 h-full items-center">
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-600 w-6 h-6 flex-shrink-0 mr-4" viewbox="0 0 24 24">
							<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
							<path d="M22 4L12 14.01l-3-3"></path>
						</svg>
						<span class="title-font font-medium">{{  listing.pension.nom | raw   }}</span>
					</div>
				</div>
			{% endif %}
<ul class="flex justify-start items-center text-sm  whitespace-nowrap">
	<div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full ">
		{% for cat in listing.Listingamnities %}
			<li class="mr-2">
				<a class="flex flex-row gap-0 inline-block border border-gray-300 focus:outline-none hover:bg-gray-100/30 rounded-3xl  py-2 px-3 text-gray-900 text-lg">
					<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-600 w-5 h-5 flex-shrink-0 mr-4" viewbox="0 0 24 24">
						<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
						<path d="M22 4L12 14.01l-3-3"></path>
					</svg>

					<span class="text-sm">{{ cat.amnities.nom   | raw | capitalize}}</span>
				</a>
			</li>
		{% endfor %}
	</div>
</ul>
