<div class="w-full flex justify-center" id="reviewForm">
	<div class="w-full md:w-[80%] h-full px-2 justify-center mx-2  mb-12">


		{% for rev in reviewslist %}
			<article class="p-6 text-base bg-gray-50 rounded-lg shadow-sm dark:bg-gray-900 mt-6">
				<footer class="flex justify-between items-center mb-2">
					<div class="flex items-center">
						<p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold">
                        <img class="mr-2 w-6 h-6 rounded-full" src="{{ asset('template/images/avatar.webp')}}" alt="Michael Gough">
                        {{rev.nom | raw | upper}}
                        </p>
						<p class="text-sm text-gray-600 dark:text-gray-400">
                        {% set locale = app.request.locale %}
                     
							{{rev.createdAt | ago(locale=locale)}}
						</p>
					</div>

				</footer>
				<p class="text-gray-900 dark:text-gray-400">
                {{rev.description | raw | capitalize}}
                </p>
				{# <div class="flex items-center mt-4 space-x-4">
					<button type="button" class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium">
						<svg class="mr-1.5 w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 20 18">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
						</svg>
						Reply
					</button>
				</div> #}
			</article>
		{% endfor %}
	</div>
</div>
